src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f76de854-a460-4f26-9d38-51999c662168" basePath="/worldtime">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="451ebd80-3f6b-4fd3-bca1-756ff08c1880" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-apiFlow" doc:id="24824483-5833-462d-9084-1ca2c5520a0b" >
		<logger level="INFO" doc:name="Logger" doc:id="c628b9cc-14a2-4005-bbb2-687db065cc10" message="|||||||Inside the world time api #[attributes]"/>
		<http:request method="GET" doc:name="Request" doc:id="db66ecd8-3372-4206-a312-a8964ecb1e22" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
